<!DOCTYPE html>
<html lang="en">
<head>
  <title>CAF</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="thirdParty/bootstrap.min.css">
  <script src="thirdParty/jquery.min.js"></script>
  <script src="thirdParty/popper.min.js"></script>
  <script src="thirdParty/bootstrap.min.js"></script>

  <!-- production version, optimized for size and speed -->
    <script src="thirdParty/vue.js"></script>
    
  <script src="script/comms.js"></script>
  <script src="script/gcsocket.js"></script>
  <script src="script/submenu.js"></script>
  <script src="script/utils.js"></script>
  <script src="script/cbus.js"></script>
  <script src="script/tablesort.js"></script>
  <script src="script/events.js"></script>
  
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <script src="process-plugins/rqnn_handler.js"></script>
  <script src="process-plugins/layout-loader.js"></script>
  <script src="process-plugins/node_list.js"></script>
  <script src="process-plugins/event_list.js"></script>

  
</head>
<body onload="getComms();">

<!--
	The header
	-->
<div style="margin-bottom:0">
  <h1>CBUS AJAX FCU</h1>
</div>

<!--
	The menu
	-->
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
    <!-- FILE -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFileMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">File</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownFileMenuLink">
        	<!-- <li><a class="dropdown-item" href="#" onclick="uploadAll();">Upload data from layout</a></li> -->
        	<li><a class="dropdown-item" href="#">Load data from file</a></li>
        	<li><a class="dropdown-item" href="#">Save data to file</a></li>
        </ul>
      </li>
      <!-- EVENTS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownEventsMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Events</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownEventsMenuLink">
        	<li><a class="dropdown-item" href="#" onclick="popupEventSender()">Send Event...</a></li>
        	<li><a class="dropdown-item" href="#" onclick="popupEventDefiner()">Define Event...</a></li>
        	<li><a class="dropdown-item" href="#" onclick="deleteEvent()">Delete Event</a></li>
        </ul>
      </li><!-- NODES -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownNodesMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nodes</a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownNodesMenuLink">
        	<li><a class="dropdown-item" href="#" onclick="nvEdit()">Edit NVs</a></li>
        	<li><a class="dropdown-item" href="#" onclick="doEnum()">CAN ID Enumeration</a></li>
        	<li><a class="dropdown-item" href="#" onclick="layoutLoaderOnCbusMessage({direction:'rx', message:':SB020NB60200A5200C;'})">Fake PNN</a></li>
        </ul>
      </li>
      <!-- COMMUNICATIONS -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownConnectMenuLink" 
        		data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Communications</a>
       	<ul class="dropdown-menu" aria-labelledby="navbarDropdownConnectMenuLink">
       		<li><a class="dropdown-item" href="#" onclick="getComms()">Refresh list</a></li>
        	<li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#manualComms">Manual entry</a></li>
        	
        	

        	<li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Connect</a>
               <ul class="dropdown-menu" id="connectDropDown">
                
               <!-- connect menu inserted here -->
               
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Serial</a>
                     <ul class="dropdown-menu">
                       <li><a class="dropdown-item" href="#">Port 1</a></li>
                       <li><a class="dropdown-item" href="#">Port 2</a></li>
                     </ul>
                  </li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">TCP</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">host 1</a></li>
                      <li><a class="dropdown-item" href="#">host 2</a></li>
                    </ul>
                 </li>
			  
				
			   </ul>
			</li>		
        </ul>
      </li>
      <!-- VIEW -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">View</a>
        <ul class="dropdown-menu">
        	<li><a class="dropdown-item" href="#" onclick="console.log('view click');window.open('/page/log.html', 'CBUS log', 'location=0,height=500,width=450');">Show log</a></li>
        </ul>
      </li> 
      <!-- HELP -->
      <li class="nav-item">
        <a class="nav-link" href="#">Help</a>
      </li>    
    </ul>
  </div>  
</nav>

<!-- 
	The Manual comms modal 
	-->
<div class="modal" id="manualComms">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Enter communications connection name</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <form action="#">
          <div class="form-group">
            <label for="connection">Connection:</label>
            <input type="text" class="form-control" id="connection"/>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<div id="app">
<!--
  This is now the main part of the window.
  -->
<div class="container-fluid" style="margin-top:30px">
	<!-- Module list - needs converting to a plugin -->
	<h2>User CBUS Nodes</h2>
	<div class="row">
		<div class="col nodes"           >
	  		<table border="1" id="nodelist">
	  		<thead>
	  			<tr>
					<th onclick="sortTable('nodelist',0, 'chk')">Tag</th>
					<th onclick="sortTable('nodelist',1, 'str')">Node Name</th>
					<th onclick="sortTable('nodelist',2, 'str')">Node Type</th>
					<th onclick="sortTable('nodelist',3, 'str')">Manufacturer</th>
					<th onclick="sortTable('nodelist',4, 'int')">Node No.</th>
					<th onclick="sortTable('nodelist',5, 'int')">CANID</th>
					<th>Events</th>
					<th>FLiM</th>
	  				<th onclick="sortTable('nodelist',8, 'int')">Max Events</th>
	  				<th onclick="sortTable('nodelist',9, 'str')">Version</th>
	  				<th onclick="sortTable('nodelist',10, 'int')">No. NVs</th>
	  				<th onclick="sortTable('nodelist',11, 'str')">Proc Id</th>
	  				<th>Node Vars</th>
	  			</tr>
	  		</thead>
	  		<tbody>
	  			<tr v-for="m in layout.modules" onclick="nodeSelect(this)">
	  				<td><input type="checkbox"></input></td>
	  				<td><input type="text" v-model="m.name"></input></td>
	  				<td class="mt">{{m.type}}</td>
	  				<td class="mu">{{m.manu}}</td>
	  				<td class="nn">{{m.nn}}</td>
	  				<td>{{m.networkaddress}}</td>
	  				<td>{{m.numevents}}</td>
	  				<td>{{m.flags}}</td>
	  				<td>{{m.maxevents}}</td>
	  				<td class="v">{{m.major}}{{m.minor}}<span v-if="m.beta>0">BETA{{m.beta}}</span></td>
	  				<td>{{m.numnvs}}</td>
	  				<td>{{m.processor}}</td>
	  				<td>??</td>
	  			</tr>
	  		</tbody>	  			
	  		</table>
	  	</div>
	</div>
	<h2>Events for Selected Node</h2>
	<div class="row">
		<div class="col events" >
			<table border="1" id="eventlist">
	  			<tr>
	  				<th onclick="sortTable('eventlist',0, 'chk')">tag</th>
	  				<th onclick="sortTable('eventlist',1, 'str')">Event Name</th>
	  				<th onclick="sortTable('eventlist',2, 'int')">Event NN</th>
	  				<th onclick="sortTable('eventlist',3, 'int')">Event EN/DN</th>
	  			</tr>
	  			<tr v-for="e in layout.events" onclick="eventSelect(this)">
	  				<td><input type="checkbox"></input></td>
	  				<td><input type="text" v-model="e.name"></input></td>
	  				<td class="enn">{{e.nn}}</td>
	  				<td class="en">{{e.en}}</td>
	  			</tr>	  			
	  		</table>
		</div>
	</div>
	
  	<div class="row">
    	<div class="col">
      		<p>To do</p>

			<ul>
        		<li>Upload to github</li>
        		<li>Create a deployable package</li>
        		<li>Convert commms menu and modal to a plugin</li>
        		<li>Manual connect</li>
        		<li>Support data file driven NV editor</li>   
        		<li>Drag/drop or other method of associating event with module.</li>
        		<li>EV editor</li>
        		<li>save/load layout data back to server and store in FCU format</li>
        		<li>Tidy up plugins</li>
        		<li>Upload to have state so it doesn't get initiated by other comms</li>
        		<li>Interpret log messages</li>
        		<li>event list colours?</li>
        		<li>Module param display</li>
        		<li>Firmware download</li>
        		<li>Help/About and balloon assist</li>
        		<li>Document how to implement a module</li>
        		<li>keyboard accelerators and tabbing between fields</li>
        		<li>Right click quick access</li>
        		<li>Remove cbus listener</li>
        		<li>Device names</li>
        		<li>Debug mode</li>
        		<li>Add date/time to log entries</li>
      		</ul>
      		
      	</div>  
    </div>
    <div class="row">
    	<p>?</p>
    	<p>?</p>
    </div>
  </div>
</div>

      		
<div class="modal" id="nvEditorModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update NV Values</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      	<div id="nvEditor">
        	NOT LOADED
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="nvEditorLoad()">Reload</button>
        <button type="button" class="btn btn-success" onclick="nvEditorSave()">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="eventDefinerModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Define Event</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      	<div id="eventDefiner">
        	<form>
        		<div class="form-group col">
					<label>Event Name:</label>
					<input type="text" name="eventname" size="10" class="form-control" id="eventname">
				</div>
				<div class="form-group col">
					<label>NN:</label>
					<input type="number" name="eventnn" min="0" max="65535" size="5" class="form-control" id="eventnn">
				</div>
				<div class="form-group col">
					<label>EN:</label>
					<input type="number" name="eventen" min="0" max="255" size="3" class="form-control" id="eventen">
				</div>
			</form>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="defineEvent()">OK</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="eventSenderModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Send Event</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
      	<div id="eventSender">
        	<form>
				<label>ON/OFF</label>
				<div class="form-group col">
				 	<div class="form-check-inline">
  						<label class="form-check-label">
    						<input type="radio" class="form-check-input" name="onoffradio" value="ON">ON
  						</label>
					</div>
					<div class="form-check-inline">
  						<label class="form-check-label">
    						<input type="radio" class="form-check-input" name="onoffradio" value="OFF">OFF
  						</label>
					</div>
				</div>
				<label>Number of data bytes</label>
				<div class="form-group col">
				 	<div class="form-check-inline">
  						<label class="form-check-label">
    						<input type="radio" class="form-check-input" name="dataradio" value="0">0
  						</label>
					</div>
					<div class="form-check-inline">
  						<label class="form-check-label">
    						<input type="radio" class="form-check-input" name="dataradio" value="1">1
  						</label>
					</div>
					<div class="form-check-inline">
  						<label class="form-check-label">
    						<input type="radio" class="form-check-input" name="dataradio" value="2">2
  						</label>
					</div>
					<div class="form-check-inline">
  						<label class="form-check-label">
    						<input type="radio" class="form-check-input" name="dataradio" value="3">3
  						</label>
					</div>
				</div>
				<label>Data value</label>
				<div class="form-group col">
				 	<div class="form-check-inline">
  						<label class="form-check-label">Data 1:</label>
    					<input type="number" min="0" max="255" size="3" class="form-check-input" name="data1" value="0">
					</div>
					<div class="form-check-inline">
  						<label class="form-check-label">Data 2:</label>
    					<input type="number" min="0" max="255" size="3" class="form-check-input" name="data2" value="0">
					</div>
					<div class="form-check-inline">
  						<label class="form-check-label">Data 3:</label>
    					<input type="number" min="0" max="255" size="3" class="form-check-input" name="data3" value="0">
					</div>
				</div>
			</form>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="sendEvent()">Send</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>

    </div>
  </div>
</div>


</div>

<!--
	The footer
	-->
<div class="fixed-bottom statusbar">
  <ul class="list-group list-group-horizontal">
  	<li class="list-group-item status">CBUS comms:<span class="status" id="commstate">Unconnected</span></li>
  	<li class="list-group-item status">Websocket comms:<span class="status" id="socketstate">Unconnected</span></li>
  </ul>
</div>

</body>
</html>

