<!DOCTYPE html>
<html lang="en">
<head>
  	<title>CAF Module Guide</title>
  	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="../thirdParty/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>


<div id="logview" class="container-fluid mh-100">
<h1>This is the Module Guide</h1>
<p>
Where a description of how to configure the various module types will be placed.
</div>

</body>
</html>